<div class="modal fade" id="deleteRestaurantModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-danger">WARNING - Delete Restaurant</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>This will delete the Restaurant.</p>
            <p>Are you sure?</p>
        </div>
        <div class="modal-footer">
            <button id="delete-restaurant-id" type="button" class="btn btn-danger" onclick="deleteRestaurant(this.value);">Delete</button>
        </div>
      </div>
    </div>
</div>
