<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">Fine Midwestern Dining</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse flex-row-reverse" id="navbarContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {{ 'active' if active_page == 'chefs' else ''}}" href="/chefs">chefs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{ 'active' if active_page == 'dishes' else ''}}" href="/dishes">dishes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{ 'active' if active_page == 'dish_has_recipe' else ''}}" href="/dish-has-recipe">dish_has_recipe</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{ 'active' if active_page == 'ingredients' else ''}}" href="/ingredients">ingredients</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{ 'active' if active_page == 'recipes' else ''}}" href="/recipes">recipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{ 'active' if active_page == 'recipe_has_ingredient' else ''}}" href="/recipe-has-ingredient">recipe_has_ingredient</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{ 'active' if active_page == 'restaurants' else ''}}" href="/restaurants">restaurants</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
